@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.eot');
    src: url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.woff') format('woff'),
        url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'),
        url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v26-latin-regular.eot');
    src: url('../fonts/fraunces-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fraunces-v26-latin-regular.woff2') format('woff2'),
        url('../fonts/fraunces-v26-latin-regular.woff') format('woff'),
        url('../fonts/fraunces-v26-latin-regular.ttf') format('truetype'),
        url('../fonts/fraunces-v26-latin-regular.svg#Fraunces') format('svg');
}